body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background: #000;
	max-width: 1400px;
	margin: 0 auto;
	text-align: center;
}

.flex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

header {
	height: 69px;
	background: #000;
	border-bottom: 1px solid seashell;
	position: fixed;
	top: 0;
	z-index: 1;
}

header img {
	height: 50px;
	margin-left: 10px;
}

nav li {
	display: inline-block;
	text-decoration: underline;
	padding: 0 10px;
}

nav {
	flex-grow: 1;
	text-align: right;
}
nav a {
	color: seashell;
}

/* Body */

.main-content {
	margin: auto;
	width: 1200px;
	padding-top: 69px;
	opacity: 0.9;
}

#hero {
	background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
	background-repeat: no-repeat;
	padding-top: 70px;
	height: 700px;
	margin: auto;
}

#hero {
	align-items: center;
	margin-bottom: 100px;
}

.hero-content {
	background: #000;
	height: 103px;
	width: 100%;
}

.hero-content h2 , .hero-content h4 {
	margin: 0;
	padding: 10px;

}

#store {
	width: 1000px;
	margin: auto;
}

.products div {
	padding: 5px;
	opacity: 1;
}

.products img{
	width: 300px;
	height: 200px;
}

.products h4 {
	margin: 10px 0;
} 

#locations-background  {
	background: url(/resources/images/img-locations-background.jpg);
	background-repeat: no-repeat;
	height: 500px;
	padding: 70px;
	margin-top: 75px;
}

#locations-background h2{
	margin-bottom: 15px;
}

.locations div {
	width: 300px;
	height: 275px;
	background: #000;
	margin: 20px;
	margin-top: 0;
}

#contact {
	height: 200px;
}

footer {
	text-align: left;
}

footer p {
	margin-left: 20px;
}
